matplotlib == 3.5.1
numpy == 1.21.6
opencv-python == 4.5.5.62
pandas == 1.4.0
pyqt5 == 5.15.7
rich == 12.0.0
scipy == 1.7.3
tqdm~=4.62.3
pyqt6~=6.4.0
imageio~=2.19.2
requests~=2.27.1
moviepy~=1.0.3
librosa~=0.9.1